body {
    padding-top: 50px;
}

.station {
    font-weight: bolder;
    color: white !important;
    font-size: large;
}

.trains {
    list-style-type: none;
}

.atstation {
    font-weight: bold;
    color: #3c763d;
}

.departure {
    border:#040404 solid thin;
    border-bottom-color: lightgrey;
    border-left-style: none;
    border-right-style: none;
}

.line-name {
    font-weight: bolder;
    font-size: large;
}

.departures {
    margin-left:25px;
    font-size: large;
}

.extrapadding {
    padding-left: 7px;
}

