<!DOCTYPE html>
<html data-ng-app="barticusApp">
<head>
    <title>BARTicus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/sticky-footer.css">
    <link rel="stylesheet" href="css/barticus.css">

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/indexController.js"></script>
</head>
<body data-ng-controller="indexController">
<div id="wrap">
    <div class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><h4>{{closeststation.name}}</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <ul>
            <div ng-repeat="etd in etds">
                <li>{{etd.name}}
                    <div>
                        <span ng-repeat="departure in etd.departures">
                            {{departure}}
                        </span>
                    </div>
                </li>
            </div>
        </ul>

    </div>
</div>

<div id="footer">
    <div class="container"><h4>Updated {{lastupdated}}</h4></div>
</div>


</body>
</html>